* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: black;
}

/* Barra de Navegação (Matheus) */

header .container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

nav ul {
    display: flex;
    
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #ff9000;
    font-size: 20px;
}

div h1 {
    color: #fff;
}

/* Rodapé da Página (Valesca) */

.footer-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color:#8F9490;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
    color:black;
}
.informacoes a{
    text-decoration:none;
    color:black;
}
.informacoes a:hover{
    color:#EF3A07;
}
.informacoes li{
    list-style: none; 

}
.informacoes{
   flex-direction: column;
   justify-content:flex-start;
   align-items: flex-start;
   text-align:start;
   
}

.atendimento{  
    align-items: center;
}

.cabecario {

    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;

}

#fitfashionlogo {
    height: 130px;
    width: 350px;

}

#carrinhodeitens {
    height: 100px;
    width: 100px;
}

#barradepesquisa {
    height: 100px;
    width: 500px;
    padding-top: 40px;

}

#pesquisa {
    width: 500px;
    height: 25px;
}

.main {
    width: 100%;
}

#produtosh5{
    font-family: 'Bebas Neue', cursiva;
    font-size: 50PX;
    margin-bottom: 0
}

.produtoscontainer {

    height: fit-content;
    width: 100%;

}

#categorytext {
    background-color: grey;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.categorias {
    width: fit-content;
    margin-top: auto;
    display: flex;
    
}

.categorias div {
    padding: 10px;
    font-size: larger;
    
    
}

.categorias div:hover {
   
border-bottom:orange 5px solid;
}

.todososprodutos {

    margin: 50px 50px 50px 50px;
    display: flex;
    flex-wrap:wrap;
    height: 100%;
    width: 1200px;
    margin: auto;
    justify-content: center;
    padding-top: 50px;
}

.produto {
    border: solid rgb(190, 187, 187) 1px;
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: black 1px 2px 0px;
    border-radius: 25px;
}

.produto p {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    text-align: center;

}

.produto h1 {
    font-size: 15px;
    font-weight: 200;
    padding: 5px;
    text-align: center;
}

.produto:hover {
    color: orange;
    border: 1.5px solid black;
    font-size: 15px;
    padding:5px 5px 5px 5px;
}

.imgproduto {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}













