@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: black;
}

/* Barra de Navegação (Matheus) */

header .container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header nav ul {
    display: flex;
    
}

header nav ul li {
    list-style: none;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
    font-family: "Poppins";
}

header nav ul li a:hover {
    color: #ff9000;
    font-size: 20px;
}

header div h1 {
    color: #fff;
}

/* Rodapé da Página (Valesca) */

.footer-container{
    display: flex;
    flex-direction: row;
    bottom: 0;
    background-color: #666666;
    width: 100%;
    height: 16.5rem;
    align-items: center;
    justify-content: space-around;
    color:white; 
}
footer h1{
    font-size: 2rem;
    color: #FF7800;
}
.titulos{
    margin-bottom: 1rem;
}
#atendimento-info{
    line-height: 2rem;
}
#logo{
    width: 10rem;    
}
.informacoes a{
    text-decoration:none;
    color:white;
}
.informacoes a:hover{
    color:#FF7800;
}
.informacoes li{
    list-style: none; 
}
.list{
    line-height: 2rem;
}
.informacoes{
    display: flex;
   flex-direction: column;
   justify-content:flex-start;
   align-items: flex-start;
   text-align:start;   
}
.atendimento{  
    align-items: center;
}
.redes-sociais img{
    width: 30px;
    
}
.redes-sociais{
   display: flex;
   flex-direction: column;
}
.lista-icone{
    display: flex;
    justify-content: space-between;
}
footer h3{
    color:#FF7800;
}
footer strong{
    color: #FF7800;
}
@media screen and (max-width:599px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        bottom: 0;
        overflow-y: auto;
        background-color: #666666;
        width: 100%;
        min-height: 320px;
        align-items: center;
        justify-content: space-around;
        color:white;    
    }
    #logo{
        width: 8rem;
    }
    .atendimento{ 
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
        align-items: center;
    }
    .informacoes a{
        text-decoration:none;
        color:white;
    }
    .informacoes a:hover{
        color:#FF7800;
    }
    .informacoes li{
        list-style: none; 
    }
    .informacoes{
        display: flex;
       flex-direction: column;
       justify-content:flex-start;
       align-items: center;
       text-align:center;
       font-size: 1.5rem;   
    }
    .redes-sociais img{
        width: 15px;   
    }
    .redes-sociais{
       display: flex;
       flex-direction: column;
       font-size: 1.5rem;
    }
    .lista-icone{
        display: flex;
        justify-content: space-between;
    }
footer h3{
        color:#FF7800;
        font-size: 1.5rem;
    }
footer strong{
        color: #FF7800;
        font-size: 1.5rem;
}
}





/* Corpo da Página (Guilherme) */

.cabecario {

    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;

}

#fitfashionlogo {
    height: 130px;
    width: 350px;

}

#carrinhodeitens {
    height: 100px;
    width: 100px;
}

#barradepesquisa {
    height: 100px;
    width: 500px;
    padding-top: 40px;

}

#pesquisa {
    width: 500px;
    height: 25px;
}

.main {
    width: 100%;
}

#produtosh5{
    font-family: 'Bebas Neue', cursiva;
    font-size: 50PX;
    margin-bottom: 0
}

.produtoscontainer {

    height: fit-content;
    width: 100%;

}

#categorytext {
    background-color: grey;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.categorias {
    width: fit-content;
    margin-top: auto;
    display: flex;
    
}

.categorias div {
    padding: 10px;
    font-size: larger;
    
    
}

.categorias div:hover {
   
border-bottom:orange 5px solid;
}

.todososprodutos {

    margin: 50px 50px 50px 50px;
    display: flex;
    flex-wrap:wrap;
    height: 100%;
    width: 1200px;
    margin: auto;
    justify-content: center;
    padding-top: 50px;
}

.produto {
    border: solid rgb(190, 187, 187) 1px;
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: black 1px 2px 0px;
    border-radius: 25px;
}

.produto p {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    text-align: center;

}

.produto h1 {
    font-size: 15px;
    font-weight: 200;
    padding: 5px;
    text-align: center;
}

.produto:hover {
    color: orange;
    border: 1.5px solid black;
    font-size: 15px;
    padding:5px 5px 5px 5px;
}

.imgproduto {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}













