@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    background-color: #E4E4E4;
}

header {
    background-color: black;
}

/* Barra de Navegação (Matheus) */

header .container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header nav ul {
    display: flex;

}

header nav ul li {
    list-style: none;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
    font-family: "Poppins";
}

header nav ul li a:hover {
    color: #ff9000;
    font-size: 2rem;
}

header div img {
    width: 8rem;
    transition: 0.2s;
}

header div img:hover {
    width: 8.5rem;
}

#Lupa, #Carrinho, #Favoritos {
    color: white;
    filter: invert(1);
    width: 3.0rem;
    transition: 0.2s;
}

#Lupa:hover, #Carrinho:hover, #Favoritos:hover {
    color: white;
    filter: invert(1);
    width: 3.3rem;
}

/* header .navIcons {
    
} */

@media (max-width: 964px) {
    html {
        font-size: 50%;
    }
    
}

@media (max-width: 809px) {
    html {
        font-size: 40%;
    }
    
}

@media (max-width: 709px) {
    header nav, header .navIcons {
        display: none;
    }

    .one, .two, .tree {
        background-color: #FF7800;
        height: 4px;
        width: 100%;
        margin: 6px auto;
        transition: 0.3s;
    }

    .menuCelular {
        width: 40px;
        height: 30px;
    }

    .menu.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #666666;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu.on nav {
        display: block;
    }

    .menu.on .menuCelular {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .menu.on .menuCelular .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu.on .menuCelular .two {
        opacity: 0;
    }

    .menu.on .menuCelular .tree {
        transform: rotate(-45deg) translate(3px, -3px);
    }

    .menu.on nav ul {
        display: block;
        text-align: center;
    }

    .menu.on nav ul li a {
        transition-duration: 0.3s;
        font-size: 5rem;
        line-height: 20rem;
        margin-left: 0;
    }

    .menu.on nav ul li a:hover {
        transition-duration: 0.3s;
        font-size: 6rem;
        line-height: 15rem;
    }
    
}

/* Página de contato (Valesca) */
.contato-container {
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: #FA8124;
    flex-direction: row;
    color: white;
    margin-top: 8rem;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";


}

.segundo-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#endereco {
    margin-top: 1rem;
}

.rede-social {
    display: flex;


}

#icon {
    margin-left: 1.5rem;
}

.contato-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

main h1 {
    font-size: 2.5rem;
}

main h2 {
    font-size: 1.5rem;

}

#formulario {
    margin-bottom: 1rem;

}

#mensagem {
    height: 6rem;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px;
    color: #666666;
}

.caixinhas {
    height: 3rem;
    box-shadow: 2.5px 2.5px;
    border-radius: 10px;
    color: #666666;
}

.caixinhas:hover, #mensagem:hover, .contato-form button:hover {
    background-color: #ffffffd5;
}

button {
    border-radius: 10px;
    box-shadow: 2.5px 2.5px;
    color: #666666;
}

/* Rodapé da Página (Valesca) */

.footer-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color: #666666;
    width: 100%;
    height: 16.5rem;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: "Poppins"
}

footer h1 {
    font-size: 2rem;
    color: #FF7800;
}

.titulos {
    margin-bottom: 1rem;
}

#atendimento-info {
    line-height: 2.5rem;
}

#logo {
    width: 10rem;
}

.informacoes a {
    text-decoration: none;
    color: white;
}

.informacoes a:hover {
    color: #FF7800;
}

.informacoes li {
    list-style: none;
}

.list {
    line-height: 2.5rem;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}

.atendimento {
    align-items: center;
}

.redes-sociais img {
    width: 30px;

}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.lista-icone {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    color: #FF7800;
}

footer strong {
    color: #FF7800;
}

/*responsividade: Valesca*/

@media screen and (max-width:599px) {
    .contato-container {
        display: flex;
        width: 100%;
        height: 45rem;
        background-color: #FA8124;
        flex-direction: column;
        color: white;
        margin-top: 25%;
        justify-content: center;
        align-items: center;
        font-family: "Poppins";

    }

    .segundo-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 2rem;
        align-items: center;

    }

    #endereco {
        margin-top: 1rem;
        align-items: center;
    }

    .rede-social {
        display: flex;


    }

    #icon {
        margin-left: 1rem;
    }

    .contato-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }

    main h1 {
        font-size: 2rem;

    }

    main h2 {
        font-size: 2rem;


    }

    #formulario {
        margin-bottom: 1rem;

    }

    #mensagem {
        height: 4.5rem;
        border-radius: 10px;
        box-shadow: 2.5px 2.5px;
        color: #666666;
    }

    .caixinhas {
        height: 3rem;
        box-shadow: 2.5px 2.5px;
        border-radius: 10px;
        color: #666666;
    }

    button {
        border-radius: 10px;
        box-shadow: 2.5px 2.5px;
        color: #666666;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        background-color: #666666;
        width: 100%;
        height: 35%;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-family: "Poppins"
    }

    #logo {
        width: 8rem;
    }

    .atendimento {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
        align-items: center;
    }

    .informacoes a {
        text-decoration: none;
        color: white;
    }

    .informacoes a:hover {
        color: #FF7800;
    }

    .informacoes li {
        list-style: none;
    }

    .informacoes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
    }

    .redes-sociais img {
        width: 15px;
    }

    .redes-sociais {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .lista-icone {
        display: flex;
        justify-content: space-between;
    }

    footer h3 {
        color: #FF7800;
        font-size: 1.5rem;
    }

    footer strong {
        color: #FF7800;
        font-size: 1.5rem;
    }
}
