* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: black;
}

/* Barra de Navegação (Matheus) */

header .container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

nav ul {
    display: flex;
    
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #ff9000;
    font-size: 20px;
}

div h1 {
    color: #fff;
}

/* Rodapé da Página (Valesca) */

.footer-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color:#8F9490;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
    color:black;
}
.informacoes a{
    text-decoration:none;
    color:black;
}
.informacoes a:hover{
    color:#EF3A07;
}
.informacoes li{
    list-style: none; 

}
.informacoes{
    display: flex;
   flex-direction: column;
   justify-content:flex-start;
   align-items: flex-start;
   text-align:start;
   
}

.atendimento{  
    align-items: center;
}